* {
  direction: rtl;
}

body {
  background-color: #000;
  font-family: 'Varela Round', sans-serif;
}

.transparent-bg {
/*  background-image: url("images/bun.jpg");*/
	background-repeat: repeat;
	opacity: 0.1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	filter: alpha(opacity=50);
	z-index: -1;
}

.banner {
  background-color: #fe3b62;
  color: black;
}

.container {
  padding: 2rem;
}

.container-body {
  padding-top: 6rem;
}


h1, .sub {
    font-family: 'Alef', sans-serif;
}

h1 {
  color: white;
  font-size: 120%;
}

h2 {
  color: #cc304e;
}

.sub {
  font-size: 170%;
}

.col-md-4, .col-md-3 {
  float: right !important;
}

a {
  font-size: 14pt;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #f5b;
}

.on-green {
  font-size: 12pt;
}

.on-green:hover {
  color: black;
}

.btn-group-justified {
  display: flex;
  width: 100%;
}

.btn {
  line-height: 2;
  font-size: 1.25rem;
}

.btn, .btn-group {
  flex: 0;
}

.btn-group {
  background-color: black;
}

.modal .btn {
  float: left;
}

.dropdown-menu {
  right: auto;
}

.btn-primary {
  color: #fff;
  border-color: #111 !important;
  background-color: #111 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #444 !important;
  border-color: #111;
}

.btn-primary:active {
  background-color: #fff;
}

.btn-default {
  background-color: #bbb;
}

.btn-default:hover {
  background-color: #999 !important;
}

.modal-content {
  background-color: #f2e6d9 !important;
}

.btn-sm {
  margin-top: 2rem;
  margin-right: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

.modal-footer {
  clear: both;
}

.container-green {
  background-color: #a5cb3a;
  color: black;
}
